/*********************************************************
    Redesign Content - December 2017
*********************************************************/
.redesign-content ul {
  list-style-type: none;
  margin-bottom: 1em;
  margin-left: 0.6em;
  padding-left: 1em;
  text-indent: -1em; }
  .redesign-content ul li:before {
    content: "\003E \0020"; }

.redesign-content .public-art-grid .row {
  margin-right: 0;
  margin-left: 0; }
  .redesign-content .public-art-grid .row .col-md-3 {
    padding-right: 5px;
    padding-left: 5px; }
    .redesign-content .public-art-grid .row .col-md-3:nth-child(1) {
      padding-left: 0; }
    .redesign-content .public-art-grid .row .col-md-3:nth-child(4) {
      padding-right: 0; }

.redesign-content .tile {
  background-repeat: no-repeat;
  background-size: cover;
  width: 165px;
  height: 165px;
  width: 100%;
  margin: 0 auto 10px;
  text-align: center; }
  .redesign-content .tile .tile-overlay-blue {
    background: rgba(0, 83, 160, 0.69); }
    .redesign-content .tile .tile-overlay-blue:hover {
      background: none; }
    .redesign-content .tile .tile-overlay-blue a {
      color: #fff;
      display: block;
      font-weight: 700;
      padding: 74px 10px;
      text-decoration: none; }
      .redesign-content .tile .tile-overlay-blue a:hover {
        opacity: 0; }
    .redesign-content .tile .tile-overlay-blue .text-plus {
      padding: 65.5px 10px; }

.redesign-content .block-1 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue_line_public_art_warehouse_district_hero.jpg");
  background-position: 80% 0; }

.redesign-content .block-2 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-nicollet-mall-2-medcrop.jpg");
  background-position: 20% 0; }

.redesign-content .block-3 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-government-plaza-2-sm.jpg"); }

.redesign-content .block-4 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue_line_public_art_usbank_seven_seascrop02.jpg"); }

.redesign-content .block-5 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-cedar-riverside-2-sm.jpg");
  background-position: 55% 0; }

.redesign-content .block-6 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-franklin-avenue-3-sm.jpg");
  background-position: 0 50%; }

.redesign-content .block-7 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-lake-street-wonder-1-w-sm.jpg");
  background-position: 0 60%; }

.redesign-content .block-8 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-38th-street-3-sm.jpg");
  background-position: 0 60%; }

.redesign-content .block-9 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-46th-street-2-sm.jpg");
  background-position: 85% 0; }

.redesign-content .block-10 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-minnehaha-park-2-sm.jpg"); }

.redesign-content .block-11 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/img.jpg");
  background-position: 20% 0; }

.redesign-content .block-12 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-fort-snelling-1-sm.jpg");
  background-position: 50% 0; }

.redesign-content .block-13 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-terminal-1-lindberg-1-sm.jpg");
  background-position: 0 65%; }

.redesign-content .block-14 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-terminal-2-humphrey-2-sm.jpg");
  background-position: 0 50%; }

.redesign-content .block-15 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-american-blvd-1-sm.jpg");
  background-position: 0 60%; }

.redesign-content .block-16 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-bloomington-central-4-sm.jpg");
  background-position: 0 50%; }

.redesign-content .block-17 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-28th-avenue-4-sm.jpg");
  background-position: 0 10%; }

.redesign-content .block-18 {
  background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-moa-1-sm.jpg");
  background-position: 0 30%; }

/*# sourceMappingURL=../maps/redesign.css.map */
