.redesign-content {

    .alert {
        float: left;
        width: 100%;

        .fa {
            display: inline-block;
            float: left;
        }

        h3 .fa {
            line-height: 1.3;
        }

        h4 {
            margin-top: 0;
        }

        p {
            float: left;
            margin: 0;
        }
    }
}
