/*********************************************************
    Bootstrap Dropdown Overrides - May 2018
*********************************************************/
.mobile-dropdown {
    margin-bottom: 30px;

    .btn {
        font-weight: 400;
    }

    .btn-default {
        background-color: #fff;
        border-color: #ccc;
        color: #333 !important;
    }
}