/***************************************************
	Super Bowl Related - December 2017
***************************************************/
.redesign-content {
    .panel-heading {
        border-radius: 0;

        a {
            display: block;
            padding: 1rem 1.5rem;
            text-decoration: none;
        }

        .accordion-toggle:after {
            font-family: 'FontAwesome';
            float: right;
            content: "\f077";
        }

        .accordion-toggle.collapsed:after {
            content: "\f078";
        }
    }

    #accordion {
        .panel-heading {
            padding: 0;
        }
    }

    .panel-danger {
        .panel-heading {
            padding: 10px 15px !important;
        }
    }

    .panel-body-1,
    .panel-body-2,
    .panel-body-3,
    .panel-body-4,
    .panel-body-5 {
        position: relative;
        top: -10px;
    }

    .panel .panel {
        border-radius: 0;
        margin-bottom: 1.5rem;

        .panel-heading {
            padding: 1rem;
        }
    }

    table.detours {
        width: 100%;

        th {
            border-top: 1px solid #c0c0c0;
            padding: 10px 0;
            text-align: center;
            width: 110px;
        }

        td {
            background-color: #d4e3fc;
            border: 1px solid #c0c0c0;
            font-size: 24px;
            text-align: center;
            width: 110px;
            height: 110px;

            a {
                color: #000;
                padding: 40px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .disabled {
            background-color: #f7f6f6;
            color: #929292;
        }
    }
}
