/*********************************************************
    35W Construction redesign - May 2018
*********************************************************/

.redesign-content {

    .transit-icons {
        text-align: center;
        img {
            width: 54.16px;
            height: 54.16px;

            @media (max-width: 768px) {
                width: 71px;
                height: 71px;
            }
        }
    }

    .park-ride-map {
        background-image: url('../../../../../Data/sites/1/media/about/improvements/orange-line/Construction-pr-map.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 940px;
        height: 954.38px;
        position: relative;

        .popover {
            width: auto;
            border-radius: 0;
            padding: 0;

            .map-location-inset {
                background-color: #0489cc;
                border: 1px solid #fff;
                border-radius: 50%;
                color: $white;
                padding: 6px 0;
                position: absolute;
                width: 30px;
                height: 30px;
                text-align: center;
                //margin-right: 10px;
            }

            p {
                margin-top: 0;

                i {
                    margin-right: 10px;
                }
            }

            .alert {
                text-align: center;
            }

            .popover-title {
                background-color: #0489cc;
                color: #fff;
                border-radius: 0;
                min-height: 50px;
                text-transform: uppercase;

                .prcity {
                    margin-left: 40px;
                    line-height: 2;
                }
            }

            .popover-content {
                p:first-child {
                    margin-bottom: 0;
                }
                address {
                    margin-bottom: 10px;
                }
            }
        }

        .hotspot {
            border-radius: 50%;
            color: transparent;
            cursor: pointer;
            padding: 8px 14px;
            position: absolute;
        }

        .pnr1 {
            bottom: 201px;
            right: 249px;
        }

        .pnr2 {
            bottom: 290px;
            right: 258px;
        }

        .pnr3 {
            bottom: 165px;
            right: 122px;
        }
        .pnr4 {
            top: 410px;
            left: 421px;
        }

        .pnr5 {
            top: 410px;
            left: 456px;
        }

        .pnr6 {
            top: 287px;
            right: 282px;
        }
        .pnr7 {
            bottom: 352px;
            right: 410px;
        }

        .pnr8 {
            bottom: 320px;
            right: 418px;
        }

        .pnr9 {
            top: 456px;
            right: 249px;
        }
        .pnr10 {
            top: 310px;
            right: 86px;
        }

        .pnr11 {
            bottom: 401px;
            right: 181px;
        }

        .pnr12 {
            top: 192px;
            left: 363px;
        }
        .pnr13 {
            bottom: 55px;
            right: 438px;
        }

        .pnr14 {
            bottom: 78px;
            right: 239px;
        }

        .pnr15 {
            top: 150px;
            right: 192px;
        }
        .pnr16 {
            top: 118px;
            right: 197px;
        }

        .pnr17 {
            top: 256px;
            left: 416px;
        }

        .pnr18 {
            bottom: 232px;
            right: 50px;
        }
        .pnr19 {
            bottom: 216px;
            left: 364px;
        }

        .pnr20 {
            bottom: 294px;
            left: 40px;
        }

        .pnr21 {
            bottom: 344px;
            left: 123px;
        }
    }
}
