/*********************************************************
    35W Construction redesign - May 2018
*********************************************************/

.redesign-content {

    .transit-icon {
        width: 71px;
        height: 71px;
    }

    .park-ride-map {
        background-image: url('../../../../../Data/sites/1/media/about/improvements/orange-line/Construction-pr-map.jpg');
        background-repeat: no-repeat;
        width: 940px;
        height: 954.38px;
        position: relative;

        .popover {
            width: auto;
            border-radius: 0;
            padding: 0;

            .map-location-inset {
                background-color: #0489cc;
                border: 1px solid #fff;
                border-radius: 50%;
                color: $white;
                padding: 6px 0;
                position: absolute;
                width: 30px;
                height: 30px;
                text-align: center;
                //margin-right: 10px;
            }

            p {
                margin-top: 0;

                i {
                    margin-right: 10px;
                }
            }

            .alert {
                text-align: center;
            }

            .popover-title {
                background-color: #0489cc;
                color: #fff;
                border-radius: 0;
                min-height: 50px;
                text-transform: uppercase;

                .prcity {
                    margin-left: 40px;
                    line-height: 2;
                }
            }

            .popover-content {
                p:first-child {
                    margin-bottom: 0;
                }
                address {
                    margin-bottom: 10px;
                }
            }
        }

        .hotspot {
            border-radius: 50%;
            color: transparent;
            cursor: pointer;
            padding: 8px 14px;
            position: absolute;
        }

        .pnr1 {
            bottom: 167px;
            right: 201px;
        }

        .pnr2 {
            bottom: 262px;
            right: 212px;
        }

        .pnr3 {
            bottom: 129px;
            right: 69px;
        }
        .pnr4 {
            top: 429px;
            left: 457px;
        }

        .pnr5 {
            top: 429px;
            left: 494px;
        }

        .pnr6 {
            top: 300px;
            right: 237px;
        }
        .pnr7 {
            bottom: 326px;
            right: 370px;
        }

        .pnr8 {
            bottom: 293px;
            right: 379px;
        }

        .pnr9 {
            top: 477px;
            right: 203px;
        }
        .pnr10 {
            top: 324px;
            right: 34px;
        }

        .pnr11 {
            bottom: 377px;
            right: 133px;
        }

        .pnr12 {
            top: 201px;
            left: 397px;
        }
        .pnr13 {
            bottom: 16px;
            right: 400px;
        }

        .pnr14 {
            bottom: 41px;
            right: 192px;
        }

        .pnr15 {
            top: 155px;
            right: 143px;
        }
        .pnr16 {
            top: 124px;
            right: 148px;
        }

        .pnr17 {
            top: 268px;
            left: 452px;
        }

        .pnr18 {
            bottom: 201px;
            right: -5px;
        }
        .pnr19 {
            bottom: 185px;
            left: 398px;
        }

        .pnr20 {
            bottom: 265px;
            left: 60px;
        }

        .pnr21 {
            bottom: 318px;
            left: 146px;
        }
    }
}
