.image-map {
    background-image: url("../../../../../Data/sites/1/media/lightrail/metro_map_horizontalstripmap.png");
    width: 750px;
    height: 166px;
    repeat: no-repeat;
    position: relative;

    .rectangle {
        position: absolute;
        width: 20px;
        height: 90px;
        transform: rotate(45deg);
        color: transparent;
    }

    .dot {
        position: absolute;
        width: 25px;
        height: 20px;
        transform: rotate(45deg);
    }

    .greenline .dot {
        top: 75px;
        left: 4px;
    }

    .blueline .dot {
        top: -5px;
        left: -8px;
    }

    .warehouse {
        top: -6px;
        left: 64px;
    }

    .nicollet {
        top: -6px;
        left: 95px;
    }

    .government {
        top: -6px;
        left: 126px;
    }

    .usbank {
        top: -6px;
        left: 157px;
    }

    .wbank {
        top: -17px;
        left: 193px;
    }

    .ebank {
        top: -17px;
        left: 224px;
    }

    .stadiumvlg {
        top: -17px;
        left: 255px;
    }

    .prospect {
        top: -17px;
        left: 286px;
    }

    .westgate {
        top: -17px;
        left: 317px;
    }

    .raymond {
        top: -17px;
        left: 348px;
    }

    .fairview {
        top: -17px;
        left: 379px;
    }

    .snelling {
        top: -17px;
        left: 410px;
    }

    .hamline {
        top: -17px;
        left: 441px;
    }

    .lexington {
        top: -17px;
        left: 472px;
    }

    .victoria {
        top: -17px;
        left: 503px;
    }

    .dale {
        top: -17px;
        left: 534px;
    }

    .western {
        top: -17px;
        left: 565px;
    }

    .capitolrice {
        top: -17px;
        left: 596px;
    }

    .robert {
        top: -17px;
        left: 627px;
    }

    .s10 {
        top: -17px;
        left: 658px;
    }

    .central {
        top: -17px;
        left: 689px;
    }

    .uniondepot {
        top: -17px;
        left: 720px;
    }

    .cedar {
        top: 87px;
        left: 143px;
    }

    .franklin {
        top: 87px;
        left: 174px;
    }

    .lakestreet {
        top: 87px;
        left: 205px;
    }

    .s38 {
        top: 87px;
        left: 236px;
    }

    .s46 {
        top: 87px;
        left: 267px;
    }

    .minnehaha {
        top: 87px;
        left: 299px;
    }

    .vamed {
        top: 87px;
        left: 330px;
    }

    .ftsnelling {
        top: 87px;
        left: 361px;
    }

    .term1 {
        top: 87px;
        left: 387px;
    }

    .term2 {
        top: 87px;
        left: 423px;
    }

    .americanblvd {
        top: 87px;
        left: 453px;
    }

    .bloomington {
        top: 87px;
        left: 485px;
    }

    .s28 {
        top: 87px;
        left: 516px;
    }

    .moa {
        top: 87px;
        left: 547px;
    }
}