/***************************************************
	Miscellaneous Overrides
***************************************************/
.respect-the-ride .row,
.gold-line-partners .row {
    margin-bottom: 30px;
}

.state-fair .row {
    margin-right: 0;
    margin-left: 0;
}
