.blueline {
    .block-1 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_warehouse_district.jpg");
    }

    .block-2 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_nicollet_mall.jpg");
    }

    .block-3 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_government_plaza.jpg");
    }

    .block-4 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_usbank_stadium.jpg");
    }

    .block-5 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_cedar_riverside.jpg");
    }

    .block-6 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_franklin_avenue.jpg");
    }

    .block-7 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_lake_street.jpg");
    }

    .block-8 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_38th_street.jpg");
    }

    .block-9 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_46th_street.jpg");
    }

    .block-10 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_minnehaha_park.jpg");
    }

    .block-11 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_va_station.jpg");
    }

    .block-12 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_fort_snelling.jpg");
    }

    .block-13 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_terminal_1_lindberg.jpg");
    }

    .block-14 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_terminal_2_humphrey.jpg");
    }

    .block-15 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_american_blvd.jpg");
    }

    .block-16 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_bloomington_central.jpg");
    }

    .block-17 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_28th_avenue.jpg");
    }

    .block-18 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_public_art_thumb_moa.jpg");
    }
}

.greenline {
    .block-1 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_union-depot-station.png");
    }

    .block-2 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_central-station.jpg");
    }

    .block-3 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_10th-street-station.jpg");
    }

    .block-4 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_robert_street_mural.jpg");
    }

    .block-5 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_capitol-rice-street-station.jpg");
    }

    .block-6 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_western-avenue-station.jpg");
    }

    .block-7 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_dale-street-station.jpg");
    }

    .block-8 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_victoria_street-station.jpg");
    }

    .block-9 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_lexington-parkway-station.jpg");
    }

    .block-10 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_hamline-avenue-station.jpg");
    }

    .block-11 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_snelling-avenue-station.jpg");
    }

    .block-12 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_fairview-avenue-station.jpg");
    }

    .block-13 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_raymond-station.jpg");
    }

    .block-14 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_westgate-station.jpg");
    }

    .block-15 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_prospect-park-station.jpg");
    }

    .block-16 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_stadium-village-station.jpg");
    }

    .block-17 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_east-bank-station.jpg");
    }

    .block-18 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_west-bank-station.jpg");
    }
}

.facilities {
    .block-1 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/facilities/public-art/thumbnails/fac_public_art_thumb_central_station_4.jpg");
    }

    .block-2 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/facilities/public-art/thumbnails/fac_public_art_thumb_target.jpg");
    }

    .block-3 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/facilities/public-art/thumbnails/fac_public_art_thumb_chicago_lake.jpg");
    }

    .block-4 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/facilities/public-art/thumbnails/fac_public_art_thumb_o_and_m_industry.jpg");
    }

    .block-5 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/facilities/public-art/thumbnails/fac_public_art_thumb_smith_2.jpg");
    }

    .block-6 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/facilities/public-art/thumbnails/fac_public_art_thumb_big_lake_.jpg");
    }

    .block-7 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/facilities/public-art/thumbnails/fac_public_art_thumb_lindbergh_dragonfly.jpg");
    }
}