/****************************************
    Public Art Styles
****************************************/
.redesign-content {
    .public-art-grid {
        .row {
            margin-right: 0;
            margin-left: 0;

            .col-md-3 {
                padding-right: 5px;
                padding-left: 5px;

                &:nth-child(1) {
                    padding-left: 0;
                }

                &:nth-child(4) {
                    padding-right: 0;
                }
            }
        }
    }

    .tile {
        background-repeat: no-repeat;
        background-size: cover;
        width: 165px;
        height: 165px;
        width: 100%;
        margin: 0 auto 10px;
        text-align: center;

        .tile-overlay-blue {
            background: rgba(0, 83, 160, .69);
        }

        .tile-overlay-green {
            background-color: rgba(0, 130, 68, .69);
        }

        .tile-overlay-blue,
        .tile-overlay-green {
            &:hover {
                background: none; // Will work on desktop only.
            }

            a {
                color: #fff;
                display: block;
                font-weight: 700;
                padding: 74px 10px;
                text-decoration: none;

                &:hover {
                    opacity: 0;
                }
            }

            .text-plus {
                padding: 65.5px 10px;
            }
        }
    }
    @import './public-art-grid.scss';
    //@import './public-art-grid_local.scss';
    @import './image-map.scss';
}