.blueline {

    .block-1 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_warehouse-district-1-med.jpg");
    }

    .block-2 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_nicollet-mall-2-med.jpg");
    }

    .block-3 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_government-plaza-2-med.jpg");
    }

    .block-4 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue_line_art_thumb_usbank_med.jpg");
    }

    .block-5 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_cedar-riverside-2-med.jpg");
    }

    .block-6 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_franklin-avenue-3-med.jpg");
    }

    .block-7 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_lake-street-wonder-1-w-med.jpg");
    }

    .block-8 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_38th-street-3-med.jpg");
    }

    .block-9 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_46th-street-2-med.jpg");
    }

    .block-10 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_minnehaha-park-2-med.jpg");
    }

    .block-11 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/img.jpg");
    }

    .block-12 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_fort-snelling-1-med.jpg");
    }

    .block-13 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_terminal-1-lindberg-1-med.jpg");
    }

    .block-14 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_terminal-2-humphrey-2-med.jpg");
    }

    .block-15 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_american-blvd-1-med.jpg");
    }

    .block-16 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_bloomington-central-4-med.jpg");
    }

    .block-17 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_28th-avenue-4-med.jpg");
    }

    .block-18 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/bluelinestations/public-art/thumbnails/blue-line-art-thumb_moa-1-med.jpg");
    }
}

.greenline {

    .block-1 {
            background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_union-depot-station.png");
    }

    .block-2 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_central-station.jpg");
    }

    .block-3 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_10th-street-station.jpg");
    }

    .block-4 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_robert_street_mural.jpg");
    }

    .block-5 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_capitol-rice-street-station.jpg");
    }

    .block-6 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_western-avenue-station.jpg");
    }

    .block-7 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_dale-street-station.jpg");
    }

    .block-8 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_victoria_street-station.jpg");
    }

    .block-9 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_lexington-parkway-station.jpg");
    }

    .block-10 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_hamline-avenue-station.jpg");
    }

    .block-11 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_snelling-avenue-station.jpg");
    }

    .block-12 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_fairview-avenue-station.jpg");
    }

    .block-13 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_raymond-station.jpg");
    }

    .block-14 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_westgate-station.jpg");
    }

    .block-15 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_prospect-park-station.jpg");
    }

    .block-16 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_stadium-village-station.jpg");
    }

    .block-17 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_east-bank-station.jpg");
    }

    .block-18 {
        background-image: url("../../../../../Data/sites/1/media/lightrail/greenlinestations/public-art/thumbnails/green_line_public_art_thumb_west-bank-station.jpg");
    }
}
