.blueline {

    .block-1 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue_line_public_art_warehouse_district_hero.jpg");
        background-position: 80% 0;
    }

    .block-2 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-nicollet-mall-2-medcrop.jpg");
        background-position: 20% 0;
    }

    .block-3 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-government-plaza-2-sm.jpg");
    }

    .block-4 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue_line_public_art_usbank_seven_seascrop02.jpg");
    }

    .block-5 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-cedar-riverside-2-sm.jpg");
        background-position: 55% 0;
    }

    .block-6 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-franklin-avenue-3-sm.jpg");
        background-position: 0 50%;
    }

    .block-7 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-lake-street-wonder-1-w-sm.jpg");
        background-position: 0 60%;
    }

    .block-8 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-38th-street-3-sm.jpg");
        background-position: 0 60%;
    }

    .block-9 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-46th-street-2-sm.jpg");
        background-position: 85% 0;
    }

    .block-10 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-minnehaha-park-2-sm.jpg");
    }

    .block-11 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/img.jpg");
        background-position: 20% 0;
    }

    .block-12 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-fort-snelling-1-sm.jpg");
        background-position: 50% 0;
    }

    .block-13 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-terminal-1-lindberg-1-sm.jpg");
        background-position: 0 65%;
    }

    .block-14 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-terminal-2-humphrey-2-sm.jpg");
        background-position: 0 50%;
    }

    .block-15 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-american-blvd-1-sm.jpg");
        background-position: 0 60%;
    }

    .block-16 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-bloomington-central-4-sm.jpg");
        background-position: 0 50%;
    }

    .block-17 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-28th-avenue-4-sm.jpg");
        background-position: 0 10%;
    }

    .block-18 {
        background-image: url("../Data/sites/1/media/lightrail/bluelinestations/public-art/blue-line-art-moa-1-sm.jpg");
        background-position: 0 30%;
    }
}

.greenline {

    .block-1 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-union-depot-1-sm.png");
        background-position: 0 73%;
    }

    .block-2 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-central-station-art-2-sm.jpg");
        background-position: 0 95%;
    }

    .block-3 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-10th-street-station-art-4-sm.jpg");
        background-position: 0 0;
    }

    .block-4 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-robert-street-station-3-sm.jpg");
        background-position: 0 93%;
    }

    .block-5 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-capitol-rice-street-station-2-sm.jpg");
        background-position: 0 80%;
    }

    .block-6 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-western-avenue-station-2-sm.jpg");
        background-position: 0 50%;
    }

    .block-7 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-dale-street-station-3-sm.jpg");
        background-position: 0 60%;
    }

    .block-8 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-victoria-street-station-4-sm.jpg");
        background-position: 0 60%;
    }

    .block-9 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-lexington-parkway-station-3-sm.jpg");
        background-position: 0 60%;
    }

    .block-10 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-hamline-avenue-station-2-sm.jpg");
        background-position: 100% 0;
    }

    .block-11 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-snelling-avenue-station-1-sm.jpg");
        background-position: 20% 0;
    }

    .block-12 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-fairview-avenue-station-5-sm.jpg");
        background-position: 50% 0;
    }

    .block-13 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-raymond-station-1-sm.jpg");
        background-position: 0 65%;
    }

    .block-14 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-westgate-station-2-sm.jpg");
        background-position: 0 50%;
    }

    .block-15 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-prospect-park-station-3-sm.jpg");
        background-position: 100% 0;
    }

    .block-16 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-stadium-village-station-2-sm.jpg");
        background-position: 0 65%;
    }

    .block-17 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-east-bank-station-4-sm.jpg");
        background-position: 30% 0;
    }

    .block-18 {
        background-image: url("../Data/sites/1/media/lightrail/greenlinestations/public-art/green-line-art-west-bank-station-1-sm.jpg");
        background-position: 0 20%;
    }
}
