/*********************************************************
    Rider Alerts - June 2018
*********************************************************/

.redesign-content {

    .rider-alerts {

        .hero-image {
            background-image: url('../../../../../Data/sites/1/media/rider-alerts/rider_alert_hero_yellow_screen.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 407px;
            padding: 50px;

            .redesign-content .alert-info {
                background-color: #d9edf7 !important;
            }

            @media (max-width: 768px) {
                padding: 15px;
                height: auto;
			}

			@media (max-width: 767px) {

				.cta {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			p { margin-bottom: 0; }
			p:last-child { margin-top: 0;}

            .fancy-button {
				display: block;
				height: 165px;
				margin-top: 75px;
				padding: 15px;
                opacity: .9;
                text-align: center;

                &:hover {
					opacity: 1;
					text-decoration: none;
                }

                @media (max-width: 768px) {
                    margin-top: 0;
                    text-align: center;
                }
			}
			
			.heading {
				display: block;
				font-size: 24px;
				color: $white;
				text-transform: uppercase;
				margin-bottom: 20px;
				line-height: 1.3;

				@media (max-width: 767px) {
					font-size: 18px;
				}
			}

			.details {
				display: block;
				font-size: 14px;
				color: $transit-yellow;
				text-transform: none;
			}

            .bg-blue {
                background-color: $transit-blue;
                float: right;

                @media (max-width: 768px) {
                    float: none;
                }
            }

            .bg-green {
                background-color: $green;
            }
        }
    }
}
