.superbowl-related {
    .tile {
        background-image: url("/Data/sites/1/media/superbowl/sb_fancy_button.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 22.95rem;
        height: 13.33rem;
        margin: 0 auto 2rem;
        text-align: center;

        .overlay {
            background: rgba(0, 83, 160, .69);

            &:hover {
                background: none; // Will work on desktop only.
            }

            a {
                color: #fff;
                display: block;
                font-size: 2.5em;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0.1rem;
                padding: 2.28rem 1.5rem;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
